@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

* {
  font-family: "IBM Plex Sans", sans-serif;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(194 65 12);
}

/* FlexContainer.css */
.pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pagination__link {
  cursor: pointer;
}

.pagination__link--disabled {
  cursor: not-allowed;
}
